* {
    box-sizing: border-box;
}

body {
    background-color: rgba(133, 170, 158, 0.678);
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.container {
     text-align: center;
}

.Progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}
