* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
  margin: 0px;
  overflow: hidden ;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 25px;
  color: #fff;
  flex: 0.5;
  margin: 10px;
  position: relative;
}
.panel h3{
    font-size: 25px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0px;
    opacity: 0;
}

.panel.active{
    flex: 5;
}

.panel.active h3{
   opacity: 1;
}

@media (max-width: 480px) {
    .container {
      width: 100vw;
    }
  
    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
      display: none;
    }
  }